Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

Fix/only transition open inplay markets (#105)
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/mod.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/lib.rs
Due: none

Feat: client order optimisations (#125)
  npm-client/docs/endpoints/cancel_order.md
  npm-client/docs/endpoints/cancel_order_instruction.md
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/docs/endpoints/utils.md
  npm-client/docs/types/order.md
  npm-client/docs/types/transactions.md
  npm-client/generate_docs.sh
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/cancel_order.ts
  npm-client/src/cancel_order_instruction.ts
  npm-client/src/create_order.ts
  npm-client/src/create_order_instruction.ts
  npm-client/src/index.ts
  npm-client/src/order.ts
  npm-client/src/utils.ts
  npm-client/types/client.ts
  npm-client/types/index.ts
  npm-client/types/order.ts
  npm-client/types/transactions.ts
  tests/npm-client/batch_sign_and_send_instructions.ts
  tests/npm-client/cancel_order.ts
  tests/npm-client/create_order.ts
  tests/npm-client/multiple_order_query.ts
  tests/npm-client/order_query.ts
  tests/npm-client/trade_query.ts
  tests/protocol/create_order.ts
Due: generate-client-docs

fix: add missing file/code fixes after feature branch merges
  admin/create_market.ts
  npm-admin-client/docs/endpoints/price_ladder.md
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
Due: generate-admin-client-docs

fix: add missing file/code fixes after feature branch merges (#131)
  admin/create_market.ts
  npm-admin-client/docs/endpoints/price_ladder.md
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
Due: generate-admin-client-docs

feat: emit event capturing basics of a trade
  programs/monaco_protocol/src/events/mod.rs
  programs/monaco_protocol/src/events/trade.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/lib.rs
Due: none

feat: emit event capturing basics of a trade (#132)
  programs/monaco_protocol/src/events/mod.rs
  programs/monaco_protocol/src/events/trade.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/lib.rs
Due: none

chore: small script and client changes to better enable the PL work
  admin/client.ts
  admin/create_market.ts
  admin/create_order.ts
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/src/market_create.ts
  package.json
Due: generate-admin-client-docs

fix: enable price ladder changes in client and scripts (#133)
  admin/client.ts
  admin/create_market.ts
  admin/create_order.ts
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/src/market_create.ts
  package.json
Due: generate-admin-client-docs

chore: set versions and update readme for 0.12.0 protocol release
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: set versions and update readme for 0.12.0 protocol release (#134)
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

not passing account wrappers
  programs/monaco_protocol/src/instructions/matching/create_trade.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
Due: none

fix: add missing admin script file
  admin/price_ladders.ts
Due: none

fix: add missing admin script file (#137)
  admin/price_ladders.ts
Due: none

fix: add prices on market outcome account in clients
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/types/market_outcomes.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

refactor: trade creation method update (#136)
  programs/monaco_protocol/src/instructions/matching/create_trade.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
Due: none

adding matching queue to market
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/mod.rs
  tests/end-to-end/inplay_market.ts
  tests/market/create_market.ts
  tests/market/recreate_market.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

using defaults better
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

cleaning debug
  tests/market/recreate_market.ts
Due: none

feat: add `create_order_request` instruction (#302)
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_creation.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/mod.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  programs/monaco_protocol/src/state/mod.rs
  tests/end-to-end/inplay_market.ts
  tests/market/create_market.ts
  tests/market/recreate_market.ts
  tests/orderRequest/createOrderRequest.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: introducing market matching queue account (#139)
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/mod.rs
  tests/end-to-end/inplay_market.ts
  tests/market/create_market.ts
  tests/market/recreate_market.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: add distinct seed to order requests (#311)
  npm-client/docs/endpoints/cancel_order_instruction.md
  npm-client/docs/endpoints/order.md
  npm-client/docs/types/order.md
  npm-client/src/cancel_order_instruction.ts
  npm-client/src/create_order.ts
  npm-client/src/create_order_instruction.ts
  npm-client/src/order.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  programs/monaco_protocol/src/state/type_size.rs
  tests/npm-client/cancel_order.ts
  tests/order/creation_payment_1.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-client-docs

checking queue being empty before settlement starts
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/update_market_status.ts
  tests/npm-admin-client/market_management.ts
  tests/protocol/create_order.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: instruction to cancel unmatched liquidity after market lock
  admin/client.ts
  admin/create_market.ts
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  package.json
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/mod.rs
  programs/monaco_protocol/src/lib.rs
  tests/protocol/cancel_order_post_market_lock.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: refactor inplay code for order requests (#314)
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  tests/end-to-end/inplay_market.ts
  tests/orderRequest/processOrderRequest.ts
  tests/protocol/cancel_order.ts
  tests/protocol/cancel_preplay_order_post_event_start.ts
  tests/protocol/crank_matching.ts
  tests/protocol/create_order.ts
  tests/util/wrappers.ts
Due: none

chore: upgrade anchor to 0.29.0, along with rust, solana, and other deps
  Cargo.lock
  npm-admin-client/generate_docs.sh
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-client/generate_docs.sh
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/market_matching_pools.ts
  package.json
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/price_ladder/add_prices_to_price_ladder.rs
  tests/order/settlement_payment_10.ts
  yarn.lock
Due: generate-admin-client-docs, generate-client-docs

tmp: update product crate ref to public repo
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
Due: none

surplus can only be transfered out when settled or voided
  programs/monaco_protocol/src/instructions/market/escrow.rs
Due: none

fix: reduce MMP queue size to reduce heap usage during match_orders
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
Due: none

fix: reduce MMP queue size to reduce heap usage during match_orders (#145)
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
Due: none

fix: change seed separator and restrict usage in market type discrim.
  npm-admin-client/src/market_helpers.ts
  npm-client/src/markets.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  tests/market/create_market.ts
Due: generate-admin-client-docs, generate-client-docs

fix: use Option for market type discrim. & value
  admin/create_market.ts
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  npm-client/docs/endpoints/markets.md
  npm-client/src/markets.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/market/update_market_event_start_time.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market/update_market_title.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/market/create_market.ts
  tests/npm-admin-client/market_create.ts
  tests/npm-admin-client/market_recreate.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

fix: tidy up new test
  tests/market/create_market.ts
Due: none

fix: surplus can only be transferred out when settled or voided and before closure (#144)
  programs/monaco_protocol/src/instructions/market/escrow.rs
Due: none

fix: use correct field in seed sep check, and use const
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/lib.rs
Due: none

fix: use Option for market type discrim. & value (#147)
  admin/create_market.ts
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  npm-client/docs/endpoints/markets.md
  npm-client/src/markets.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/market/update_market_event_start_time.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market/update_market_title.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/market/create_market.ts
  tests/npm-admin-client/market_create.ts
  tests/npm-admin-client/market_recreate.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

fix: update guard as String is now Option<String>
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

fix: add prices on market outcome account in clients (#138)
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/types/market_outcomes.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

fix: change seed separator and restrict usage in market type discrim. (#146)
  npm-admin-client/src/market_helpers.ts
  npm-client/src/markets.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/create_market.ts
Due: generate-admin-client-docs, generate-client-docs
