Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

updating peek and adding peek_mut method
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

chore: updating peek and adding peek_mut methods (#167)
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

fix: check payments queue on completeSettlement (#166)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/payments_queue.rs
  tests/market/update_market_status.ts
  tests/util/wrappers.ts
Due: none

chore: update all market mgmt endpoints
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
Due: generate-admin-client-docs

feat: tnx options on market mgmt endpoints
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

fix: fix for pass-through errors
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
Due: generate-admin-client-docs

chore: update market create endpoints to accept combined options
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_create_instruction.ts
  npm-admin-client/src/market_outcome_instruction.ts
  npm-admin-client/types/markets.ts
Due: generate-admin-client-docs

chore: batching for outcomes
  npm-admin-client/docs/endpoints/market_outcome.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/types/markets.ts
  npm-admin-client/types/transactions.ts
  tests/npm-admin-client/market_outcome.ts
Due: generate-admin-client-docs

chore: additional success check in create market
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_outcome_instruction.ts
  tests/npm-admin-client/market_recreate.ts
Due: generate-admin-client-docs

chore: unify market management instructions
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
Due: generate-admin-client-docs

chore: unify transaction options
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/docs/endpoints/market_outcome.md
  npm-admin-client/docs/endpoints/utils.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/utils.ts
  npm-admin-client/types/transactions.ts
Due: generate-admin-client-docs

fix: don't zero out CU and remove double confirm
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/utils.ts
Due: generate-admin-client-docs

chore: re-align tests with previous tests
  tests/npm-admin-client/market_create.ts
  tests/npm-admin-client/market_outcome.ts
Due: none

chore: add commission payments type to client
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/types/market.md
  npm-client/docs/types/matching_pool.md
  npm-client/types/market.ts
  npm-client/types/matching_pool.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

chore: add order request types
  npm-client/docs/types/order.md
  npm-client/types/order.ts
  tests/orderRequest/createOrderRequest.ts
  tests/orderRequest/dequeueOrderRequest.ts
  tests/orderRequest/processOrderRequest.ts
Due: generate-client-docs

chore: bump dev versions for 0.14.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: upload audit reports and update readme for release 0.13.0
  README.md
  audit/sec3/0.12.1.pdf
  audit/sec3/0.13.0.pdf
Due: none

chore: upload audit reports and update readme for release 0.13.0 (#171)
  README.md
  audit/sec3/0.12.1.pdf
  audit/sec3/0.13.0.pdf
Due: none

chore: bump dev versions for 0.14.0 (#169)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

client changes for matching v2
  npm-client/docs/endpoints/market_matching_pools.md
  npm-client/docs/types/market.md
  npm-client/docs/types/matching_pool.md
  npm-client/src/market_matching_pools.ts
  npm-client/src/market_matching_queues.ts
  npm-client/types/index.ts
  npm-client/types/market.ts
  npm-client/types/matching_pool.ts
Due: generate-client-docs

client changes for matching v2
  npm-client/docs/endpoints/market_matching_pools.md
  npm-client/src/market_matching_pools.ts
  npm-client/src/market_matching_queues.ts
Due: generate-client-docs

client changes for matching v2
  npm-client/src/market_matching_pools.ts
Due: generate-client-docs

feat: trustless matching (v2) client updates (#172)
  npm-client/docs/endpoints/market_matching_pools.md
  npm-client/docs/types/market.md
  npm-client/docs/types/matching_pool.md
  npm-client/src/market_matching_pools.ts
  npm-client/src/market_matching_queues.ts
  npm-client/types/index.ts
  npm-client/types/market.ts
  npm-client/types/matching_pool.ts
Due: generate-client-docs

chore: doc generation
  npm-client/docs/endpoints/cancel_order.md
  npm-client/docs/endpoints/cancel_order_instruction.md
  npm-client/docs/endpoints/create_order.md
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/docs/endpoints/market_matching_pool_query.md
  npm-client/docs/endpoints/market_matching_pools.md
  npm-client/docs/endpoints/market_outcome_query.md
  npm-client/docs/endpoints/market_outcomes.md
  npm-client/docs/endpoints/market_position.md
  npm-client/docs/endpoints/market_position_query.md
  npm-client/docs/endpoints/order.md
  npm-client/docs/endpoints/order_query.md
  npm-client/docs/endpoints/trade.md
Due: generate-client-docs

chore: add missing queue types (#173)
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/types/market.md
  npm-client/docs/types/order.md
  npm-client/types/market.ts
  npm-client/types/order.ts
  tests/orderRequest/createOrderRequest.ts
  tests/orderRequest/dequeueOrderRequest.ts
  tests/orderRequest/processOrderRequest.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

chore: export single build outcome instruction method
  npm-admin-client/src/market_outcome_instruction.ts
Due: generate-admin-client-docs

chore: update admin client work with 0.14.0
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
Due: generate-admin-client-docs

fix: require matching queue to be empty before voiding market
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  tests/npm-admin-client/market_management.ts
  tests/order/void_payment_01.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

emiting trade event when trades are created
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/lib.rs
Due: none

feat: emitting trade event when trades are created (#175)
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/lib.rs
Due: none

fix: require matching queue to be empty before voiding market (#174)
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  tests/npm-admin-client/market_management.ts
  tests/order/void_payment_01.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

chore: sig as string only and return failed instructions on batch fail to confirm
  npm-admin-client/docs/endpoints/utils.md
  npm-admin-client/src/utils.ts
Due: generate-admin-client-docs

fix: keep settle inteface the same
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
  tests/npm-admin-client/market_management.ts
Due: generate-admin-client-docs

fix: ensure fee payer (if custom) is refunded when accounts are closed
  npm-client/src/cancel_order_instruction.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  tests/end-to-end/inplay_market.ts
  tests/protocol/cancel_order.ts
  tests/protocol/close_market_outcome.ts
  tests/protocol/close_market_position.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/protocol/close_order.ts
  tests/protocol/close_trade.ts
  tests/protocol/crank_settlement.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-client-docs

fix: ensure fee payer (if custom) is refunded when accounts are closed (#177)
  npm-client/src/cancel_order_instruction.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  tests/end-to-end/inplay_market.ts
  tests/protocol/cancel_order.ts
  tests/protocol/close_market_outcome.ts
  tests/protocol/close_market_position.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/protocol/close_order.ts
  tests/protocol/close_trade.ts
  tests/protocol/crank_settlement.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-client-docs

feat: admin client updates for instruction building (#176)
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/docs/endpoints/market_outcome.md
  npm-admin-client/docs/endpoints/utils.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/src/index.ts
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_create_instruction.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_instruction.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-admin-client/src/utils.ts
  npm-admin-client/types/index.ts
  npm-admin-client/types/markets.ts
  npm-admin-client/types/transactions.ts
  tests/npm-admin-client/market_create.ts
  tests/npm-admin-client/market_management.ts
  tests/npm-admin-client/market_outcome.ts
  tests/npm-admin-client/market_recreate.ts
Due: generate-admin-client-docs
