Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

generate-admin-client-docs:
  name: generate-admin-client-docs
  entry: npm-admin-client/generate_docs.sh
  language: script
  pass_filenames: true

generate-client-docs:
  name: generate-client-docs
  entry: npm-client/generate_docs.sh
  language: script
  pass_filenames: true

rust part
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  programs/monaco_protocol/src/state/mod.rs
Due: none

rust part
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

feat: add new instruction to dequeue and refund order requests (#331)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_cancellation.rs
  programs/monaco_protocol/src/instructions/order_request/dequeue_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/mod.rs
  programs/monaco_protocol/src/lib.rs
  tests/orderRequest/dequeueOrderRequest.ts
  tests/util/wrappers.ts
Due: none

refactor: update ix docs and make market immutable on dequeue ix
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/src/create_order_instruction.ts
  programs/monaco_protocol/src/context.rs
Due: generate-client-docs

typescript part
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/end-to-end/inplay_market.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: checking if matching queue is empty before settlement can start (#140)
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/update_market_status.ts
  tests/npm-admin-client/market_management.ts
  tests/protocol/create_order.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: instruction to cancel unmatched liquidity after market lock (#141)
  admin/client.ts
  admin/create_market.ts
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  package.json
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/mod.rs
  programs/monaco_protocol/src/lib.rs
  tests/protocol/cancel_order_post_market_lock.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

missing new line
  programs/monaco_protocol/src/error.rs
Due: none

chore: update readme after v0.12.0 release
  README.md
Due: none

chore: update readme after v0.12.0 release (#161)
  README.md
Due: none

bug fixes and size fix
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

feat: market liquidities account (#160)
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  programs/monaco_protocol/src/state/mod.rs
  tests/end-to-end/inplay_market.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: cancel at event start / market lock restrictions (#333)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/dequeue_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  programs/monaco_protocol/src/state/payments_queue.rs
  tests/protocol/cancel_preplay_order_post_event_start.ts
  tests/util/wrappers.ts
Due: none

refactor: re-order type size fields
  programs/monaco_protocol/src/state/type_size.rs
Due: none

refactor: add Order prefix to order request errors, use order_request seed
  npm-admin-client/src/market_helpers.ts
  npm-client/src/markets.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_cancellation.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/dequeue_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  tests/orderRequest/createOrderRequest.ts
Due: generate-admin-client-docs, generate-client-docs

refactor: extra formatting
  programs/monaco_protocol/src/context.rs
Due: none

fix: don't decrement unsettled_account_count when voiding cancelled order
  programs/monaco_protocol/src/instructions/order/void_order.rs
  tests/protocol/void_order.ts
Due: none

chore: set versions and update readme for 0.12.1 protocol release
  Cargo.lock
  README.md
  programs/monaco_protocol/Cargo.toml
Due: none

refactor: remove changes to market create
  npm-admin-client/src/market_create.ts
Due: generate-admin-client-docs

not very useful tests
  tests/npm-client/my_orders.ts
Due: none

fixing docs and deprecation
  npm-client/docs/endpoints/utils.md
  npm-client/src/utils.ts
Due: generate-client-docs

sharing new account mocks code
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
Due: none

optimising calls to market creation endpoint
  npm-admin-client/src/market_create.ts
  tests/market/create_market.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

optimising calls to open market endpoint
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

fix: series of small fixes too small for their own pr (#163)
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_management.ts
  npm-client/docs/endpoints/utils.md
  npm-client/src/utils.ts
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/market/create_market.ts
  tests/npm-client/my_orders.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

spike: using instructions for admin
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-admin-client/src/index.ts
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_create_instruction.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_instruction.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-admin-client/src/utils.ts
  npm-admin-client/types/index.ts
  npm-admin-client/types/transactions.ts
Due: generate-admin-client-docs

chore: instructions for market status change
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/endpoints/market_outcome.md
  npm-admin-client/docs/endpoints/utils.md
  npm-admin-client/src/index.ts
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_instruction.ts
  tests/npm-admin-client/market_create.ts
  tests/npm-admin-client/market_outcome.ts
Due: generate-admin-client-docs

chore: update protocol product dep ref for anchor 0.29.0 support
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
Due: none

fix: settle_x instructions should check market is ReadyForSettlement
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
Due: none

fix: ensure market position is paid out before closing
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/lib.rs
Due: none

cancelOrderSmart is not needed anymore
  tests/order/cancelation_payment_10.ts
  tests/order/cancelation_payment_11.ts
  tests/util/test_util.ts
Due: none

cancel_order_instruction doc fix
  npm-client/docs/endpoints/cancel_order_instruction.md
  npm-client/src/cancel_order_instruction.ts
Due: generate-client-docs

chore: removing a deprecated test helper method (#165)
  npm-client/docs/endpoints/cancel_order_instruction.md
  npm-client/src/cancel_order_instruction.ts
  tests/order/cancelation_payment_10.ts
  tests/order/cancelation_payment_11.ts
  tests/util/test_util.ts
Due: generate-client-docs

fix: check payments queue on completeSettlement
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/payments_queue.rs
  tests/market/update_market_status.ts
  tests/util/wrappers.ts
Due: none

Path conditions:
  generate-admin-client-docs: any of: ^npm-admin-client/
  generate-client-docs: any of: ^npm-client/
