Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

fix: account macro indentation
  programs/monaco_protocol/src/context.rs
Due: none

feat: matching funds management improvement (#84)
  npm-client/docs/types/market_position.md
  npm-client/types/market_position.ts
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_cancellation.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_creation.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/market_position/void_market_position.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/state/market_position_account.rs
  tests/order/cancelation_payment_10.ts
  tests/order/cancelation_payment_11.ts
  tests/order/creation_payment_1.ts
  tests/order/creation_payment_2.ts
  tests/order/creation_payment_3.ts
  tests/order/matching_refunds_1.ts
  tests/order/settlement_payment_1.ts
  tests/order/settlement_payment_10.ts
  tests/order/settlement_payment_11.ts
  tests/order/settlement_payment_2.ts
  tests/order/settlement_payment_3.ts
  tests/order/settlement_payment_4.ts
  tests/order/settlement_payment_5.ts
  tests/order/wholesale_payment_01.ts
  tests/order/wholesale_payment_02.ts
  tests/order/wholesale_payment_03.ts
  tests/order/wholesale_payment_04.ts
  tests/order/wholesale_payment_05.ts
  tests/protocol/cancel_order.ts
  tests/protocol/cancel_preplay_order_post_event_start.ts
  tests/protocol/crank_matching.ts
  tests/protocol/crank_settlement.ts
  tests/protocol/settle_bet_order.ts
  tests/util/wrappers.ts
Due: generate-client-docs

chore: market matching pool tidy up (#100)
  npm-client/docs/types/market.md
  npm-client/docs/types/matching_pool.md
  npm-client/src/market_matching_pool_query.ts
  npm-client/src/market_matching_pools.ts
  npm-client/src/queries.ts
  npm-client/types/market.ts
  npm-client/types/matching_pool.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/end-to-end/inplay_market.ts
  tests/npm-client/market_matching_pool_query.ts
  tests/npm-client/orders.ts
  tests/protocol/close_market_matching_pool.ts
  tests/protocol/create_order.ts
Due: generate-client-docs

fix: no outcome max exposure on market position
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
Due: none

fix: no outcome max exposure on market position (#101)
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
Due: none

chore: check outcome count before opening market
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
Due: none

fix: handle error on getting mint decimals for create order
  npm-client/src/create_order.ts
Due: generate-client-docs

chore: set versions and update readme for 0.11.0 protocol release
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: set versions and update readme for 0.11.0 protocol release (#103)
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

fix: prevent inplay transition if market not open
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/mod.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/lib.rs
Due: none

chore: retrun original import
  programs/monaco_protocol/src/lib.rs
Due: none

feat: client - optionally pass through market mint token Pk on cancel order
  npm-client/docs/endpoints/cancel_order.md
  npm-client/src/cancel_order.ts
Due: generate-client-docs

chore: handle failed market fetch
  npm-client/src/cancel_order.ts
Due: generate-client-docs

chore: fix cr regarding order of error msg and macro
  programs/monaco_protocol/src/error.rs
Due: none

chore: update doc strings for create order and ui stake converter
  npm-client/docs/endpoints/create_order.md
  npm-client/docs/endpoints/utils.md
  npm-client/src/create_order.ts
  npm-client/src/utils.ts
Due: generate-client-docs

feat: reliably unique distinct seed for order creation
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/order.ts
Due: generate-client-docs

feat: instruction builder (#240)
  npm-client/docs/endpoints/cancel_order.md
  npm-client/docs/endpoints/cancel_order_instruction.md
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/docs/endpoints/utils.md
  npm-client/docs/types/order.md
  npm-client/generate_docs.sh
  npm-client/src/cancel_order.ts
  npm-client/src/cancel_order_instruction.ts
  npm-client/src/create_order.ts
  npm-client/src/create_order_instruction.ts
  npm-client/src/index.ts
  npm-client/src/utils.ts
  npm-client/types/order.ts
  tests/protocol/create_order.ts
Due: generate-client-docs

Chore/update order docstrings for price and outcome index (#255)
  npm-client/docs/endpoints/create_order.md
  npm-client/src/create_order.ts
Due: generate-client-docs

Chore/fix tests on branch (#258)
  tests/npm-client/cancel_order.ts
Due: none

fix: ceil test timestamps at i64::max
  programs/monaco_protocol/src/instructions/clock.rs
Due: none

fix: stake was cast to i64 for check, refactor to prevent loss of data
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
Due: none

not sure if this is better
  programs/monaco_protocol/src/state/market_position_account.rs
Due: none

fix: ensure queue size always <= u32::MAX
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/payments_queue.rs
Due: none

refactor: use u32 instead of usize
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/payments_queue.rs
Due: none

fix: clamp unit test timestamps at i64::max (#107)
  programs/monaco_protocol/src/instructions/clock.rs
Due: none

unit tests
  programs/monaco_protocol/src/state/market_position_account.rs
Due: none

fix: use u32 when creating queues (#110)
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/payments_queue.rs
Due: none

fix: stake was cast to i64 for check, refactor to prevent loss of data (#108)
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
Due: none

fix: postmatch exposure was cast to u64 in an unsafe way (#109)
  programs/monaco_protocol/src/state/market_position_account.rs
Due: none

feat: add script to fetch market count and pks by status
  admin/client.ts
  admin/create_market.ts
  package.json
Due: none

Feat/batch instruction sender (#261)
  npm-client/docs/endpoints/utils.md
  npm-client/docs/types/transactions.md
  npm-client/generate_docs.sh
  npm-client/src/create_order_instruction.ts
  npm-client/src/utils.ts
  npm-client/types/index.ts
  npm-client/types/transactions.ts
  tests/npm-client/batch_sign_and_send_instructions.ts
Due: generate-client-docs

chore: add 0.11.0 audit report
  README.md
  audit/sec3/0.11.0.pdf
Due: none

chore: add 0.11.0 audit report (#113)
  README.md
  audit/sec3/0.11.0.pdf
Due: none

chore: make client a dependency on admin client
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/docs/types/client.md
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-admin-client/src/market_validate.ts
  npm-admin-client/src/operators.ts
  npm-admin-client/types/account.ts
  npm-admin-client/types/client.ts
  npm-admin-client/types/index.ts
  npm-admin-client/types/market_outcomes.ts
  npm-admin-client/types/markets.ts
Due: generate-admin-client-docs

feat: add new fields
  programs/monaco_protocol/src/state/market_account.rs
Due: none

feat: increment/decrement account counts and update existing tests
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/void_market_position.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/instructions/order/void_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/market/update_market_status.ts
  tests/npm-admin-client/market_management.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/wrappers.ts
Due: none

test: test coverage
  programs/monaco_protocol/src/instructions/market/update_market_event_start_time.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/market/update_market_title.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/market/update_market_status.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
Due: none
