Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

total_exposure
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
Due: none

unmatched_exposure
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_cancellation.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_creation.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/state/market_position_account.rs
Due: none

fixing comments and varble names
  programs/monaco_protocol/src/instructions/market_position/update_on_order_cancellation.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_creation.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
Due: none

unmatched_exposure
  npm-client/docs/types/market_position.md
  npm-client/types/market_position.ts
  tests/util/wrappers.ts
Due: generate-client-docs

renaiming tests
  tests/order/cancelation_payment_10.ts
  tests/order/cancelation_payment_11.ts
  tests/order/creation_payment_1.ts
  tests/order/creation_payment_2.ts
  tests/order/creation_payment_3.ts
  tests/order/matching_refunds_1.ts
  tests/order/settlement_payment_1.ts
  tests/order/settlement_payment_10.ts
  tests/order/settlement_payment_11.ts
  tests/order/settlement_payment_2.ts
  tests/order/settlement_payment_3.ts
  tests/order/settlement_payment_4.ts
  tests/order/settlement_payment_5.ts
  tests/order/wholesale_payment_01.ts
  tests/order/wholesale_payment_02.ts
  tests/order/wholesale_payment_03.ts
  tests/order/wholesale_payment_04.ts
  tests/order/wholesale_payment_05.ts
  tests/protocol/cancel_order.ts
  tests/protocol/cancel_preplay_order_post_event_start.ts
  tests/protocol/crank_matching.ts
  tests/protocol/settle_bet_order.ts
  tests/util/wrappers.ts
Due: none

variable name update
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
Due: none

for_outcome was already extracted
  programs/monaco_protocol/src/instructions/market_position/update_on_order_cancellation.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_creation.rs
Due: none

another try
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
Due: none

back to back
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
Due: none

chore: these awaits are no longer needed in tests due to <= for inplay check
  tests/end-to-end/inplay_market.ts
  tests/protocol/cancel_preplay_order_post_event_start.ts
  tests/protocol/create_order.ts
  tests/protocol/move_market_matching_pool_to_inplay.ts
Due: none

fix: CancelationPurchaserMismatch should be CancelationMarketMismatch
  programs/monaco_protocol/src/context.rs
Due: none

fix: transition matching pools asap, don't leave pool inconsistent
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  tests/protocol/cancel_preplay_order_post_event_start.ts
Due: none

fix: reduce product commission where total commission exceeds profit
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/math.rs
Due: none

refactor: return 0 if profit or rate 0
  programs/monaco_protocol/src/instructions/math.rs
Due: none

fix: CancelationPurchaserMismatch should be CancelationMarketMismatch (#85)
  programs/monaco_protocol/src/context.rs
Due: none

fix: transition matching pools asap, don't leave pool inconsistent (#86)
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  tests/protocol/cancel_preplay_order_post_event_start.ts
Due: none

fix: return profit when commission rate is 0
  programs/monaco_protocol/src/instructions/math.rs
Due: none

fix: reduce product commission where total commission exceeds profit (#87)
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/math.rs
Due: none

chore: set client versions for 0.10.0 protocol release
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

chore: set client versions for 0.10.0 protocol release (#88)
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

chore: set admin client version for 0.10.0 protocol release
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
Due: generate-admin-client-docs

chore: set admin client version for 0.10.0 protocol release (#89)
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
Due: generate-admin-client-docs

chore: update readme for v0.10.0 release
  README.md
  audit/sec3/0.10.0.pdf
Due: none

fix: correct date
  README.md
Due: none

chore: update readme for v0.10.0 release (#90)
  README.md
  audit/sec3/0.10.0.pdf
Due: none

chore: update readme for v0.10.0 release (#90) (#91)
  README.md
  audit/sec3/0.10.0.pdf
Due: none

fix: use correct exception in test
  tests/protocol/cancel_preplay_order_post_event_start.ts
Due: none

fix: use correct exception in test (#92)
  tests/protocol/cancel_preplay_order_post_event_start.ts
Due: none

fix: market inplay transition issue (#82)
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/update_market_event_start_time.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/end-to-end/inplay_market.ts
  tests/protocol/cancel_preplay_order_post_event_start.ts
  tests/protocol/create_order.ts
  tests/protocol/move_market_matching_pool_to_inplay.ts
Due: none

chore: update version to 0.10.1
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
Due: none

chore: update version to 0.10.1 (#96)
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
Due: none

feat: [client] ability to pass through mint decimals on order creation
  npm-client/docs/endpoints/create_order.md
  npm-client/docs/endpoints/utils.md
  npm-client/src/create_order.ts
  npm-client/src/utils.ts
  tests/npm-client/create_order.ts
Due: generate-client-docs

chore: Upload 0.10.1 audit report and update README.md
  README.md
  audit/sec3/0.10.1.pdf
Due: none

chore: Upload 0.10.1 audit report and update README.md (#97)
  README.md
  audit/sec3/0.10.1.pdf
Due: none

fix: allow unittests to use clock time
  programs/monaco_protocol/src/instructions/clock.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/update_market_event_start_time.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
Due: none

fix: enable use of clock time in unit tests (#98)
  programs/monaco_protocol/src/instructions/clock.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/update_market_event_start_time.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
Due: none

refactor: remove all hardcoded commitment
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-client/src/create_order.ts
  npm-client/src/market_matching_pool_query.ts
  npm-client/src/market_outcome_query.ts
  npm-client/src/market_query.ts
  npm-client/src/order_query.ts
  npm-client/src/product.ts
  npm-client/src/product_query.ts
  npm-client/src/trade_query.ts
  tests/protocol/create_order.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

refactor: remove all hardcoded commitment levels from client (#99)
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-client/src/create_order.ts
  npm-client/src/market_matching_pool_query.ts
  npm-client/src/market_outcome_query.ts
  npm-client/src/market_query.ts
  npm-client/src/order_query.ts
  npm-client/src/product.ts
  npm-client/src/product_query.ts
  npm-client/src/trade_query.ts
  tests/protocol/create_order.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

fix: reorder fields to allow query filter optimisation
  npm-client/docs/types/matching_pool.md
  npm-client/src/market_matching_pool_query.ts
  npm-client/types/matching_pool.ts
  programs/monaco_protocol/src/state/market_account.rs
Due: generate-client-docs
