Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

chore: add fundingAccountBump to market client type
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

chore: remove leaderboard code (#188)
  admin/client.ts
  admin/leaderboard/data.ts
  admin/leaderboard/market_leaderboard.ts
  admin/leaderboard/token_leaderboard.ts
  admin/leaderboard/util.ts
  package.json
Due: none

chore: bump dev versions for 0.14.0 (again)
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: bump dev versions for 0.14.0 (again) (#189)
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: use mpDEV in declare_id
  programs/monaco_protocol/src/lib.rs
Due: none

fix(client): market outcome prices should be optional
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/types/market_outcomes.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

fix(client): market outcome prices should be optional (#191)
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/types/market_outcomes.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

magic seeds
  npm-client/docs/endpoints/trade.md
  npm-client/docs/types/trade.md
  npm-client/src/trade.ts
  npm-client/types/trade.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/lib.rs
  tests/protocol/close_trade.ts
  tests/protocol/crank_matching.ts
  tests/protocol/matching_v1_vs_v2.ts
  tests/protocol/process_order_match.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-client-docs

initializeMarketQueues method
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/src/market_create.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/lib.rs
Due: generate-admin-client-docs

version 0.13.1
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
Due: none

close_market_without_matching_queue
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/lib.rs
Due: none

close_market_without_matching_queue
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/src/market_create.ts
Due: generate-admin-client-docs

close_market_without_matching_queue
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/lib.rs
Due: none

Revert "close_market_without_matching_queue"
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/lib.rs
Due: none

Revert "close_market_without_matching_queue"
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/src/market_create.ts
Due: generate-admin-client-docs

Revert "close_market_without_matching_queue"
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/lib.rs
Due: none

limit the use of emergency method to market status it applies to
  programs/monaco_protocol/src/lib.rs
Due: none

process order match verification
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  tests/protocol/process_order_match.ts
Due: none

market outcome creation checks title length
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  tests/market/initialize_market_outcome.ts
Due: none

fix: process_order_match endpoint validates matching_pool outcome (#193)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  tests/protocol/process_order_match.ts
Due: none

fix: market outcome creation checks title length (#194)
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  tests/market/initialize_market_outcome.ts
Due: none

unnecessary market_matching_pool in context
  programs/monaco_protocol/src/context.rs
Due: none

fix: prevent duplicate order request enqueueing
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/orderRequest/createOrderRequest.ts
Due: none

refactor: clean up test
  tests/orderRequest/createOrderRequest.ts
Due: none

unnecessary market_matching_pool in context
  tests/util/wrappers.ts
Due: none

refactor: use assert_eq/ne instead
  programs/monaco_protocol/src/state/market_order_request_queue.rs
Due: none

fix: prevent duplicate `order_request` enqueueing (#196)
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/orderRequest/createOrderRequest.ts
Due: none

fix: unnecessary market_matching_pool in context (#195)
  programs/monaco_protocol/src/context.rs
  tests/util/wrappers.ts
Due: none

matching pool validation
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  tests/protocol/process_order_match.ts
Due: none

nicer constraint code
  programs/monaco_protocol/src/context.rs
Due: none

matching pool validation
  programs/monaco_protocol/src/context.rs
  tests/protocol/process_order_match.ts
Due: none

fix: validating market_matching_pool outcome and side (#197)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  tests/protocol/process_order_match.ts
Due: none

checking on insertion if there is space for it
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/order/creation_payment_222.ts
Due: none

checking on insertion if there is space for it
  tests/order/creation_payment_222.ts
Due: none

checking on insertion if there is space for it
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

fix: produce a more informative error when market liquidities account is full (#198)
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

client code to be used in crank
  npm-client/src/market_matching_queues.ts
  npm-client/types/index.ts
  npm-client/types/market_matching_queue.ts
Due: generate-client-docs

client code to be used in crank
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/types/market.md
  npm-client/src/index.ts
  npm-client/types/index.ts
  npm-client/types/market.ts
  npm-client/types/market_matching_queue.ts
Due: generate-admin-client-docs, generate-client-docs

client version updates
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs
