Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

generate-admin-client-docs:
  name: generate-admin-client-docs
  entry: npm-admin-client/generate_docs.sh
  language: script
  pass_filenames: true

generate-client-docs:
  name: generate-client-docs
  entry: npm-client/generate_docs.sh
  language: script
  pass_filenames: true

fix: source liquidity removal rewrite (#13)
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/protocol/process_order_match.ts
Due: none

LiquidityKey -> LiquiditySource
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

more test for math
  programs/monaco_protocol/src/instructions/math.rs
Due: none

remove duplicated code
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
Due: none

set_liquidity used only internally
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

sorters used only internally
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

ocd
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

only direct liquidity can be removed
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

fix for paraller test running
  tests/npm-client/market_liquidities.ts
  tests/npm-client/market_matching_queue.ts
Due: none

better diff
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

account size fixed
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

cross match with fractions test
  tests/order/matching_orders_02.ts
Due: none

renaming to direct match
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
Due: none

cross liquidity of 0 will be removed from the list
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

fix for paraller test running
  tests/npm-client/market_liquidities.ts
Due: none

better naming and comments
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

optimise cross liquidity callc and sharing the code
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

skipping over cross liquidity of zero
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
Due: none

update_all_cross_liquidity
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/order/matching_orders_02.ts
Due: none

fix: source liquidity rounded down to avoid underfunding (#14)
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/order/matching_orders_02.ts
Due: none

chore: rc1 version
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
  yarn.lock
Due: generate-admin-client-docs, generate-client-docs

chore: update dev version to 0.16.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

mod file unnecessarily updated
  programs/monaco_protocol/src/state/mod.rs
Due: none

client definition of LiquiditySource
  npm-client/types/market_liquidities.ts
Due: generate-client-docs

client rc version one up
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

removing client side property rename
  npm-client/src/market_commission_payment_queues.ts
  npm-client/types/market_commission_payment_queue.ts
  tests/npm-client/market_commission_payment_queue.ts
  tests/util/test_util.ts
Due: generate-client-docs

rc2
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

chore: minor updates resolving issue with integrations (#220)
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/market_commission_payment_queues.ts
  npm-client/types/market_commission_payment_queue.ts
  npm-client/types/market_liquidities.ts
  programs/monaco_protocol/src/state/mod.rs
  tests/npm-client/market_commission_payment_queue.ts
  tests/util/test_util.ts
Due: generate-admin-client-docs, generate-client-docs

clients should use the same version as root
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

fix: client MarketLiquidity type should contain sources
  admin/print_market.ts
  npm-client/types/market_liquidities.ts
Due: generate-client-docs

chore: making printMarket more useful
  admin/client.ts
  admin/create_market.ts
  admin/print_market.ts
  admin/util.ts
  package.json
Due: none

chore: client rc3
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

restricting number of outcomes for cross matching
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/math.rs
  tests/order/matching_orders_03.ts
  tests/util/wrappers.ts
Due: none

cross_liquidity parameter removed
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/lib.rs
  tests/order/matching_orders_02.ts
  tests/protocol/update_market_liquidities_with_cross_liquidity.ts
  tests/util/wrappers.ts
Due: none

extra validation of parameters
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/lib.rs
  tests/util/wrappers.ts
Due: none

chore: introducing check for number of outcomes to enable cross matching (#221)
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/math.rs
  tests/order/matching_orders_03.ts
  tests/util/wrappers.ts
Due: none

extra checks for the matching queue
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  tests/protocol/process_order_match.ts
Due: none

market outcome slimfast
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/types/market_outcomes.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
Due: generate-admin-client-docs, generate-client-docs

not an AnchorError
  tests/protocol/process_order_match.ts
Due: none

Path conditions:
  generate-admin-client-docs: any of: ^npm-admin-client/
  generate-client-docs: any of: ^npm-client/
