Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

chore: remove leaderboard
  admin/client.ts
  admin/leaderboard/data.ts
  admin/leaderboard/market_leaderboard.ts
  admin/leaderboard/token_leaderboard.ts
  admin/leaderboard/util.ts
  package.json
Due: none

fix: update admin script and fix some admin client docs
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

fix: missed a bit
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

fix: update admin script and fix some admin client docs (#178)
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

fix: if back is not at end of vec enqueue must insert by index
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
Due: none

sorting out the tests
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

fix: only update liquidity when cancelling order if in mmp
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
Due: none

feat: protocol enhancements from proof of concept work
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_create_instruction.ts
  npm-admin-client/src/market_helpers.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/market/update_market_event_start_time.rs
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market/update_market_title.rs
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/instructions/order/void_order.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/mod.rs
  tests/market/create_market.ts
  tests/market/recreate_market.ts
  tests/orderRequest/createOrderRequest.ts
  tests/protocol/create_order.ts
  tests/util/pdas.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

fix: transition market, liquidities, and/or mmps if required on process/cancel
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/end-to-end/inplay_market.ts
  tests/util/wrappers.ts
Due: none

fix: check matching queues before reseting mmps
  npm-client/src/cancel_order_instruction.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  tests/protocol/cancel_order.ts
  tests/util/wrappers.ts
Due: generate-client-docs

trade no longer links to opposite trade
  npm-client/docs/types/trade.md
  npm-client/types/trade.ts
  programs/monaco_protocol/src/instructions/matching/create_trade.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/trade_account.rs
  tests/protocol/crank_matching.ts
Due: generate-client-docs

separating internal from external match object
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

fixing account size and some loose test variables
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/state/trade_account.rs
Due: none

fix: if back is not at end of vec enqueue must insert by index (#179)
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
Due: none

Update programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
Due: none

chore: address review comments
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
Due: none

fix: update handling of liquidity queues and pools at inplay transition (#181)
  npm-client/src/cancel_order_instruction.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/end-to-end/inplay_market.ts
  tests/protocol/cancel_order.ts
  tests/util/wrappers.ts
Due: generate-client-docs

chore: bump dev versions for 0.15.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: bump dev versions for 0.15.0 (#183)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

refactor: use naming, and tidy up mod.rs files
  npm-admin-client/src/market_create_instruction.ts
  npm-admin-client/src/market_helpers.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/mod.rs
  tests/market/create_market.ts
  tests/market/recreate_market.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

refactor: box this account
  programs/monaco_protocol/src/context.rs
Due: none

refactor: more concise signature for market position: update_on_order_request_creation
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_request_creation.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
Due: none

refactor: create_market_position, validate market is open for order creation
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
Due: none

refactor: transfer funding surplus along with escrow surplus
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/market_token_accounts.rs
  programs/monaco_protocol/src/instructions/market/mod.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  tests/end-to-end/inplay_market.ts
  tests/market/update_market_status.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: trade no longer links to opposite trade (#182)
  npm-client/docs/types/trade.md
  npm-client/types/trade.ts
  programs/monaco_protocol/src/instructions/matching/create_trade.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/trade_account.rs
  tests/protocol/crank_matching.ts
Due: generate-client-docs

chore: redoing unit tests for MatchingQueue to ensure proper coverage (#180)
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

refactor: more public crates
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  programs/monaco_protocol/src/state/mod.rs
Due: none

trade pks were using opposite order pk
  npm-client/docs/endpoints/trade.md
  npm-client/src/trade.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/market_position/update_product_commission_contributions.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/match_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/instructions/order/void_order.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/close_trade.ts
  tests/protocol/crank_matching.ts
  tests/protocol/matching_v1_vs_v2.ts
  tests/protocol/process_order_match.ts
  tests/util/wrappers.ts
Due: generate-client-docs

fail when the queue is full
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

fix: order creation should fail if matches cannot be made (#185)
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

refactor: the big diff cleanup
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/update_market_status.ts
  tests/npm-admin-client/market_management.ts
Due: generate-admin-client-docs

refactor: a little more cleanup🧹
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/market_token_accounts.rs
Due: none

refactor: more diff cleanup
  programs/monaco_protocol/src/instructions/transfer.rs
Due: none

using random seeds instead of a count
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/match_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/close_trade.ts
  tests/protocol/crank_matching.ts
  tests/protocol/matching_v1_vs_v2.ts
  tests/protocol/process_order_match.ts
  tests/util/wrappers.ts
Due: none

removing accounts that were droped from the endpoint
  tests/market/create_market.ts
Due: none

refactor: renaming parameters, updating comment
  programs/monaco_protocol/src/instructions/market/market_token_accounts.rs
  programs/monaco_protocol/src/instructions/transfer.rs
Due: none

refactor: rename method for updated funding naming
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
Due: none

fix: removing accounts that were dropped from the endpoint (#186)
  tests/market/create_market.ts
Due: none

refactor: specify payer explicitly
  npm-client/src/create_order_instruction.ts
Due: generate-client-docs

feat: add createMarketPosition client code and test
  npm-client/docs/endpoints/market_position.md
  npm-client/src/market_position.ts
  tests/npm-client/market_position.ts
Due: generate-client-docs
