Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

generate-admin-client-docs:
  name: generate-admin-client-docs
  entry: npm-admin-client/generate_docs.sh
  language: script
  pass_filenames: true

generate-client-docs:
  name: generate-client-docs
  entry: npm-client/generate_docs.sh
  language: script
  pass_filenames: true

feat: renaming void to voidMarket and adding tests
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  tests/order/matching_orders_01.ts
  tests/order/void_payment_01.ts
  tests/protocol/close_market_voided.ts
  tests/util/wrappers.ts
Due: none

fix: fixing tests
  tests/protocol/close_market_voided.ts
Due: none

feat: adding market status check on cancel_order
  admin/client.ts
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/void_market_position.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  tests/npm-admin-client/market_management.ts
  tests/protocol/cancel_order.ts
Due: generate-admin-client-docs

fix: broken test
  tests/npm-admin-client/market_management.ts
Due: none

fix: updating tests
  admin/client.ts
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  tests/npm-admin-client/market_management.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: removing unused account
  programs/monaco_protocol/src/context.rs
Due: none

fix: fixing tests
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

feat: void markets (#50)
  admin/client.ts
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market_position/mod.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/void_market_position.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/npm-admin-client/market_management.ts
  tests/order/matching_orders_01.ts
  tests/order/void_payment_01.ts
  tests/protocol/cancel_order.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: void order
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/void_order.ts
  tests/util/wrappers.ts
Due: none

refactor: add Voided status, refactor out extra changes
  npm-client/src/order_query.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/mod.rs
  programs/monaco_protocol/src/instructions/order/void_order.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/void_order.ts
Due: generate-client-docs

refactor: update test message
  tests/protocol/void_order.ts
Due: none

chore: add new statuses to npm client
  npm-client/src/market_query.ts
  npm-client/types/market.ts
Due: generate-client-docs

feat: void order (#51)
  npm-client/src/market_query.ts
  npm-client/src/order_query.ts
  npm-client/types/market.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/order/mod.rs
  programs/monaco_protocol/src/instructions/order/void_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/void_order.ts
  tests/util/wrappers.ts
Due: generate-client-docs

chore: set payer field to purchaser on creation (#154)
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  tests/protocol/create_order.ts
Due: none

feat: checking inplay_enabled on market transition to inplay
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/lib.rs
  tests/end-to-end/inplay_market.ts
Due: none

fix: only zero liquidity when the market is configured for it (#156)
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/protocol/create_order.ts
  tests/protocol/move_market_matching_pool_to_inplay.ts
  tests/util/wrappers.ts
Due: none

create3WayMarketWithInplay
  tests/protocol/cancel_preplay_order_post_event_start.ts
Due: none

comment fix
  tests/protocol/cancel_preplay_order_post_event_start.ts
Due: none

fix: async closing accounts issue for in-play e2e test
  tests/end-to-end/inplay_market.ts
Due: none

chore: update versions to RC1 for 0.9.0 audit
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: update versions to RC1 for 0.9.0 audit (#53)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: add script to publish rc clients
  npm-admin-client/package.json
  npm-client/package.json
  package.json
Due: generate-admin-client-docs, generate-client-docs

fix: missing import alias for void admin script
  admin/update_market_status.ts
Due: none

chore: add new fields to client
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-client-docs

fix: incorrect field name was used in response data (#164)
  npm-client/src/market_matching_pool_query.ts
Due: generate-client-docs

fix: missing import alias for void admin script (#160)
  admin/update_market_status.ts
Due: none

chore: upgrade admin client to use createMarketV2 (#166)
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/types/markets.ts
Due: generate-admin-client-docs

fix: add missing inplay filter to market query
  npm-client/src/market_query.ts
Due: generate-client-docs

fix: renaming behaviour enums and fields (#169)
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-client-docs

fix: add void market to package/client (#171)
  admin/client.ts
  package.json
Due: none

fix: allow voided orders to be closed
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/close_order.ts
Due: none

chore: bump rc1 -> rc2 protocol version
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
Due: none

fix: allow voided orders to be closed (#56)
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/close_order.ts
Due: none

chore: update close_market_matching_pool validation (#175)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/lib.rs
  tests/end-to-end/inplay_market.ts
  tests/protocol/close_market_matching_pool.ts
Due: none

fix: nothing to see here
  npm-client/docs/endpoints/cancel_order.md
  npm-client/docs/endpoints/create_order.md
  npm-client/docs/endpoints/market_matching_pool_query.md
  npm-client/docs/endpoints/market_matching_pools.md
  npm-client/docs/endpoints/market_outcome_query.md
  npm-client/docs/endpoints/market_outcomes.md
  npm-client/docs/endpoints/market_position.md
  npm-client/docs/endpoints/market_position_query.md
  npm-client/docs/endpoints/market_prices.md
  npm-client/docs/endpoints/market_query.md
  npm-client/docs/endpoints/markets.md
  npm-client/docs/endpoints/order.md
  npm-client/docs/endpoints/order_query.md
  npm-client/docs/endpoints/product.md
  npm-client/docs/endpoints/product_query.md
  npm-client/docs/endpoints/trade.md
  npm-client/docs/endpoints/trade_query.md
  npm-client/docs/endpoints/utils.md
  npm-client/docs/endpoints/wallet_tokens.md
  npm-client/docs/types/client.md
  npm-client/docs/types/errors.md
  npm-client/docs/types/get_account.md
  npm-client/docs/types/market.md
  npm-client/docs/types/market_position.md
  npm-client/docs/types/matching_pool.md
  npm-client/docs/types/order.md
  npm-client/docs/types/product.md
  npm-client/docs/types/protocol.md
  npm-client/docs/types/trade.md
  npm-client/docs/types/wallet_tokens.md
Due: generate-client-docs

fix: missed rename in client type
  npm-client/docs/types/market.md
  npm-client/docs/types/matching_pool.md
  npm-client/types/market.ts
  npm-client/types/matching_pool.ts
Due: generate-client-docs

Path conditions:
  generate-admin-client-docs: any of: ^npm-admin-client/
  generate-client-docs: any of: ^npm-client/
