Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

settle method skips cancelled orders
  programs/monaco_protocol/src/instructions/order/settle_order.rs
Due: none

preplay cancellation now decrements counter if needed
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/lib.rs
  tests/end-to-end/inplay_market.ts
Due: none

fix: canceled orders should not be allowed to be settled again (#148)
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/lib.rs
  tests/end-to-end/inplay_market.ts
Due: none

copy products if the same user
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/state/market_position_account.rs
Due: none

just clone and test
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  tests/protocol/product_commission_matching.ts
Due: none

fix: copy product commission contributions when matching orders (#149)
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/state/market_position_account.rs
  tests/protocol/product_commission_matching.ts
Due: none

feat: order request duplicate protection (#321)
  npm-client/src/create_order_instruction.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/orderRequest/createOrderRequest.ts
  tests/protocol/create_order.ts
  tests/util/test_util.ts
Due: generate-client-docs

fix: update admin script with createMarket changes
  admin/create_market.ts
Due: none

fix: update admin script with createMarket changes (#150)
  admin/create_market.ts
Due: none

method calculating refund amount
  npm-client/docs/endpoints/cancel_order.md
  npm-client/src/cancel_order.ts
  tests/npm-client/cancel_order.ts
Due: generate-client-docs

maybe this time
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  tests/protocol/product_commission_matching.ts
Due: none

fix: stop checking for empty string market type discrim and value
  programs/monaco_protocol/src/instructions/market/create_market.rs
  tests/market/create_market.ts
Due: none

fix: copy product commission contributions when matching orders (2) (#152)
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  tests/protocol/product_commission_matching.ts
Due: none

fix: remove "" market type discrim/value condition from market creation (#153)
  programs/monaco_protocol/src/instructions/market/create_market.rs
  tests/market/create_market.ts
Due: none

some simple docs
  npm-client/docs/endpoints/cancel_order.md
  npm-client/src/cancel_order.ts
Due: generate-client-docs

chore: Upload 0.12.0 audit report and update README.md
  README.md
  audit/sec3/0.12.0.pdf
Due: none

chore: Upload 0.12.0 audit report and update README.md (#154)
  README.md
  audit/sec3/0.12.0.pdf
Due: none

chore: upgrade anchor to 0.29.0, along with rust, solana, and other deps (#143)
  Cargo.lock
  npm-admin-client/generate_docs.sh
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-client/generate_docs.sh
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/market_matching_pools.ts
  package.json
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/price_ladder/add_prices_to_price_ladder.rs
  tests/order/settlement_payment_10.ts
  yarn.lock
Due: generate-admin-client-docs, generate-client-docs

fix: post-merge test fixes & decrement unsettled account count
  programs/monaco_protocol/src/instructions/market/update_market_locktime.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/lib.rs
Due: none

zero length for now
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

chore: minimise size of the account to lower the fees (#156)
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
Due: none

chore: delete old broken script
  admin/client.ts
  admin/market_liquidity.ts
  package.json
Due: none

chore: add typecast as TS reported type of prices as unknown
  admin/create_order.ts
Due: none

fix: apparently no longer a valid way to create an array
  admin/add_prices_to_ladder.ts
Due: none

chore: fixup some admin example scripts (#157)
  admin/add_prices_to_ladder.ts
  admin/client.ts
  admin/create_order.ts
  admin/market_liquidity.ts
  package.json
Due: none

chore: set versions and update readme for 0.13.0 protocol release
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: set versions and update readme for 0.13.0 protocol release (#158)
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

feat: order request processing protections (#325)
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/market/update_market_status.ts
  tests/protocol/cancel_preplay_order_post_event_start.ts
  tests/protocol/create_order.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat: create queues on open market
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  tests/end-to-end/inplay_market.ts
  tests/market/recreate_market.ts
  tests/protocol/close_market_outcome.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/protocol/void_order.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

refactor: address review comments
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
Due: none

feat: create queues when opening markets (#159)
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  tests/end-to-end/inplay_market.ts
  tests/market/recreate_market.ts
  tests/protocol/close_market_outcome.ts
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
  tests/protocol/void_order.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

fix: allow initializing markets to be voided (#328)
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/recreate_market.ts
  tests/protocol/void_order.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

better method name and docs update
  npm-client/docs/endpoints/cancel_order.md
  npm-client/src/cancel_order.ts
  tests/npm-client/cancel_order.ts
Due: generate-client-docs

how did you get there
  npm-client/docs/endpoints/cancel_order.md
  npm-client/src/cancel_order.ts
Due: generate-client-docs

update some docs
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

Update npm-client/src/cancel_order.ts
  npm-client/src/cancel_order.ts
Due: generate-client-docs

arrays are the same length
  npm-client/src/cancel_order.ts
Due: generate-client-docs

refactor: address review comments (#329)
  npm-client/docs/types/market.md
  npm-client/docs/types/matching_pool.md
  npm-client/docs/types/order.md
  npm-client/types/market.ts
  npm-client/types/matching_pool.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/market_position/update_product_commission_contributions.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/order/match_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/create_order.ts
Due: generate-client-docs

feat: method calculating refund amount (#151)
  npm-client/docs/endpoints/cancel_order.md
  npm-client/src/cancel_order.ts
  tests/npm-client/cancel_order.ts
Due: generate-client-docs

refactor: do not initialize mmp and order request queues with default values (#330)
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
Due: none
