Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

generate-admin-client-docs:
  name: generate-admin-client-docs
  entry: npm-admin-client/generate_docs.sh
  language: script
  pass_filenames: true

generate-client-docs:
  name: generate-client-docs
  entry: npm-client/generate_docs.sh
  language: script
  pass_filenames: true

not an AnchorError
  tests/protocol/process_order_match.ts
Due: none

fix: removing unused fields from market outcome (#224)
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/types/market_outcomes.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
Due: generate-admin-client-docs, generate-client-docs

checking outcomes are correct
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
Due: none

fix: validating that matching queue head is the right type (#223)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  tests/protocol/process_order_match.ts
Due: none

fix: update_market_liquidities_with_cross_liquidity updates (#222)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/lib.rs
  tests/order/matching_orders_02.ts
  tests/protocol/update_market_liquidities_with_cross_liquidity.ts
  tests/util/wrappers.ts
Due: none

chore: next rc version
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

final version
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

audit report
  README.md
  audit/sec3/0.15.0.pdf
Due: none

Revert "audit report"
  README.md
  audit/sec3/0.15.0.pdf
Due: none

chore: final version update (#225)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

updated report
  audit/sec3/0.15.0.pdf
Due: none

traded volume and stake
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

unfortunate growth of transaction size
  npm-client/types/market_liquidities.ts
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  tests/npm-client/market_liquidities.ts
  tests/protocol/process_order_match.ts
Due: generate-client-docs

Update README.md
  README.md
Due: none

chore: update readme and upload 0.15.0 audit report (#226)
  README.md
  audit/sec3/0.15.0.pdf
Due: none

removing the complexity
  admin/util.ts
  ci/deploy_manager/program_data.json
  npm-client/docs/types/protocol.md
  npm-client/types/index.ts
  npm-client/types/protocol.ts
  programs/monaco_protocol/src/lib.rs
Due: generate-client-docs

removing the complexity
  npm-client/docs/types/protocol.md
Due: generate-client-docs

make my life easier
  ci/update_program_pk_for_edge.ts
  package.json
  yarn.lock
Due: none

make my life easier
  ci/update_program_pk_for_edge.sh
  ci/update_program_pk_for_edge.ts
  package.json
  yarn.lock
Due: none

make my life easier
  npm-client/docs/types/protocol.md
Due: generate-client-docs

rewrite for unit testing
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/lib.rs
Due: none

better error
  tests/protocol/cancel_order.ts
Due: none

test was flaky
  tests/order/matching_orders_03.ts
Due: none

unit testing before the fix
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/market_matching_pool_account.rs
Due: none

partial cancelation
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/order/cancelation_payment_10.ts
Due: none

chore: no longer ship ts files in npm packages & bump target to es2019
  npm-admin-client/package.json
  npm-admin-client/tsconfig.json
  npm-client/package.json
  npm-client/tsconfig.json
  tsconfig.json
Due: generate-admin-client-docs, generate-client-docs

comment update
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
Due: none

remove as much as you can
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  programs/monaco_protocol/src/state/order_account.rs
Due: none

more test
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/state/market_position_account.rs
Due: none

interaction between order creation and cancellation
  tests/order/cancelation_payment_12.ts
Due: none

back to old program_data.json
  ci/deploy_manager/program_data.json
Due: none

no edits
  package.json
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/lib.rs
Due: none

not needed file
  ci/update_program_pk_for_edge.sh
Due: none

longer order request queue
  programs/monaco_protocol/src/state/market_order_request_queue.rs
Due: none

matching needs checks now
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
Due: none

chore: extending MarketOrderRequestQueue (#232)
  programs/monaco_protocol/src/state/market_order_request_queue.rs
Due: none

release version
  Cargo.lock
  README.md
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

release version
  README.md
Due: none

chore: update dev version to 0.16.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

Path conditions:
  generate-admin-client-docs: any of: ^npm-admin-client/
  generate-client-docs: any of: ^npm-client/
