Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

stake_matched_total
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

stake_matched_total
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
Due: none

deprecation is hard
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
Due: none

stake_matched_total updated right
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
Due: none

stake_matched_total docs
  npm-admin-client/types/market_outcomes.ts
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

are they empty
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  programs/monaco_protocol/src/state/payments_queue.rs
Due: none

scooch, would ya
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

some extra client
  npm-client/src/market_liquidities.ts
  npm-client/types/index.ts
  npm-client/types/market_liquidities.ts
  tests/npm-client/market_liquidities.ts
Due: generate-client-docs

client code
  npm-client/docs/types/market.md
  npm-client/types/index.ts
  npm-client/types/market.ts
  npm-client/types/market_matching_queue.ts
  npm-client/types/market_payments_queue.ts
  tests/protocol/market_matching_queue.ts
  tests/util/test_util.ts
Due: generate-client-docs

feat: introducing `stake_matched_total` on MarketLiquidities (#210)
  npm-admin-client/types/market_outcomes.ts
  npm-client/src/market_liquidities.ts
  npm-client/types/index.ts
  npm-client/types/market.ts
  npm-client/types/market_liquidities.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
  tests/npm-client/market_liquidities.ts
  tests/orderRequest/processOrderRequest.ts
  tests/protocol/crank_matching.ts
  tests/protocol/process_order_match.ts
Due: generate-admin-client-docs, generate-client-docs

non empty query
  npm-client/src/market_matching_queues.ts
  npm-client/types/market_matching_queue.ts
  tests/protocol/market_matching_queue.ts
Due: generate-client-docs

not over yet
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management_instructions.ts
  npm-client/docs/endpoints/markets.md
  npm-client/docs/types/order.md
  npm-client/src/index.ts
  npm-client/src/market_order_request_queues.ts
  npm-client/src/markets.ts
  npm-client/src/utils.ts
  npm-client/types/index.ts
  npm-client/types/market_order_request_queue.ts
  npm-client/types/market_payments_queue.ts
  npm-client/types/order.ts
  tests/market/recreate_market.ts
  tests/market/update_market_status.ts
  tests/orderRequest/createOrderRequest.ts
  tests/orderRequest/dequeueOrderRequest.ts
  tests/orderRequest/processOrderRequest.ts
  tests/protocol/create_order.ts
  tests/protocol/market_matching_queue.ts
  tests/protocol/market_order_request_queue.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

not over yet
  npm-client/src/market_commission_payment_queues.ts
  npm-client/types/market_commission_payment_queue.ts
  npm-client/types/market_payments_queue.ts
  tests/protocol/market_commission_payment_queue.ts
Due: generate-client-docs

not over yet
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management_instructions.ts
  npm-client/src/index.ts
  npm-client/src/market_commission_payment_queues.ts
  npm-client/src/market_matching_queues.ts
  npm-client/src/market_order_request_queues.ts
  npm-client/types/index.ts
  npm-client/types/market_commission_payment_queue.ts
  tests/market/recreate_market.ts
  tests/protocol/market_commission_payment_queue.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

wrong test folder
  tests/npm-client/market_commission_payment_queue.ts
  tests/npm-client/market_matching_queue.ts
  tests/npm-client/market_order_request_queue.ts
Due: none

product clash
  tests/npm-client/market_commission_payment_queue.ts
Due: none

matching queue naming fixed
  npm-client/src/market_commission_payment_queues.ts
  npm-client/src/market_matching_queues.ts
  npm-client/src/market_order_request_queues.ts
  npm-client/types/market_commission_payment_queue.ts
  npm-client/types/market_matching_queue.ts
  tests/npm-client/market_matching_queue.ts
Due: generate-client-docs

feat: all market queues now have `empty` flag (#211)
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management_instructions.ts
  npm-client/docs/endpoints/markets.md
  npm-client/docs/types/market.md
  npm-client/docs/types/order.md
  npm-client/src/index.ts
  npm-client/src/market_commission_payment_queues.ts
  npm-client/src/market_matching_queues.ts
  npm-client/src/market_order_request_queues.ts
  npm-client/src/markets.ts
  npm-client/src/utils.ts
  npm-client/types/index.ts
  npm-client/types/market.ts
  npm-client/types/market_commission_payment_queue.ts
  npm-client/types/market_matching_queue.ts
  npm-client/types/market_order_request_queue.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  programs/monaco_protocol/src/state/payments_queue.rs
  tests/market/recreate_market.ts
  tests/market/update_market_status.ts
  tests/npm-client/market_commission_payment_queue.ts
  tests/npm-client/market_matching_queue.ts
  tests/npm-client/market_order_request_queue.ts
  tests/orderRequest/createOrderRequest.ts
  tests/orderRequest/dequeueOrderRequest.ts
  tests/orderRequest/processOrderRequest.ts
  tests/protocol/create_order.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

final versions
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: updating version numbers for final release (#213)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

feat(admin-client): pass outcome indexes explicitly for init
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-admin-client/src/market_outcome_instruction.ts
  yarn.lock
Due: generate-admin-client-docs

feat: cross matching (1) removing opposite order from trades (#8)
  npm-client/docs/endpoints/trade.md
  npm-client/docs/endpoints/utils.md
  npm-client/docs/types/trade.md
  npm-client/src/order.ts
  npm-client/src/trade.ts
  npm-client/src/utils.ts
  npm-client/types/trade.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/market_position/update_product_commission_contributions.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/instructions/order/void_order.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/close_trade.ts
  tests/protocol/crank_matching.ts
  tests/protocol/matching_v1_vs_v2.ts
  tests/protocol/process_order_match.ts
  tests/util/wrappers.ts
Due: generate-client-docs

feat: cross matching (2) separating takers and makers match processing (#9)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/close.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/match_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  programs/monaco_protocol/src/state/market_matching_queue_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/end-to-end/inplay_market.ts
  tests/npm-client/market_matching_queue.ts
  tests/npm-client/orders.ts
  tests/order/matching_refunds_1.ts
  tests/order/settlement_payment_2.ts
  tests/order/settlement_payment_3.ts
  tests/order/settlement_payment_4.ts
  tests/order/settlement_payment_5.ts
  tests/order/void_payment_01.ts
  tests/order/wholesale_payment_03.ts
  tests/order/wholesale_payment_04.ts
  tests/protocol/close_trade.ts
  tests/protocol/crank_matching.ts
  tests/protocol/process_order_match.ts
  tests/protocol/product_commission_matching.ts
  tests/protocol/settle_bet_order.ts
  tests/protocol/settle_market.ts
  tests/util/wrappers.ts
Due: none

feat: cross matching (3) cross match liquidity (#10)
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

feat: cross matching (4) generate cross liquidity (#11)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market_liquidities/mod.rs
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  programs/monaco_protocol/src/state/mod.rs
  tests/protocol/update_market_liquidities_with_cross_liquidity.ts
  tests/util/wrappers.ts
Due: none

set_liquidity_for_sources and set_liquidity_against_sources not needed
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

audit report and readme update
  README.md
  audit/sec3/0.14.2.pdf
Due: none

chore: readme update and audit report for 0.14.2 release (#216)
  README.md
  audit/sec3/0.14.2.pdf
Due: none

chore: enable cross matching for a market (#12)
  npm-admin-client/src/market_management_instructions.ts
  npm-client/src/market_liquidities.ts
  npm-client/types/market_liquidities.ts
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market_liquidities/update_market_liquidities_with_cross_liquidity.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/npm-client/market_liquidities.ts
  tests/protocol/update_market_liquidities_with_cross_liquidity.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

object transfromation complete
  npm-client/src/market_commission_payment_queues.ts
  tests/npm-client/market_commission_payment_queue.ts
Due: generate-client-docs

pk methods too
  npm-client/src/market_commission_payment_queues.ts
  npm-client/src/market_matching_queues.ts
  npm-client/src/market_order_request_queues.ts
  tests/npm-client/market_commission_payment_queue.ts
  tests/npm-client/market_matching_queue.ts
  tests/npm-client/market_order_request_queue.ts
Due: generate-client-docs

version bump
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

chore: queue client fixes and improvements (#217)
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/market_commission_payment_queues.ts
  npm-client/src/market_matching_queues.ts
  npm-client/src/market_order_request_queues.ts
  tests/npm-client/market_commission_payment_queue.ts
  tests/npm-client/market_matching_queue.ts
  tests/npm-client/market_order_request_queue.ts
Due: generate-admin-client-docs, generate-client-docs

fix: client exposes enableCrossMatching flag
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_management_instructions.ts
  tests/npm-admin-client/market_management.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

fix: client provides pk only get method for cross match enabled markets
  npm-client/src/market_liquidities.ts
  tests/npm-client/market_liquidities.ts
Due: generate-client-docs

fix: sizing of internal matching queues explained
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  tests/protocol/process_order_match.ts
Due: none

fix: emit event only on taker match processing
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

fix: splitting method into two branches so it reads better
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
Due: none

test: set edge program id
  programs/monaco_protocol/src/lib.rs
Due: none
