Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

chore: cancel endpoints updates (#246)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/move_to_inplay.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_cancellation.rs
  programs/monaco_protocol/src/instructions/order/cancel_order.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/lib.rs
  tests/protocol/cancel_order.ts
  tests/protocol/cancel_preplay_order_post_event_start.ts
Due: none

pipe through
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/state/order_account.rs
Due: none

fix: void_stake_unmatched now calls void_stake_unmatched_by (#247)
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/state/order_account.rs
Due: none

chore: update dev version to 0.16.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

reports
  audit/sec3/0.15.1.pdf
  audit/sec3/0.15.2.pdf
  audit/sec3/0.15.3.pdf
  audit/sec3/0.15.4.pdf
  audit/sec3/0.15.5.pdf
Due: none

README.md
  README.md
Due: none

chore: centralise account query code (#231)
  npm-client/docs/endpoints/market_outcome_query.md
  npm-client/docs/endpoints/market_position_query.md
  npm-client/docs/endpoints/market_query.md
  npm-client/docs/endpoints/order.md
  npm-client/docs/endpoints/order_query.md
  npm-client/docs/endpoints/product_query.md
  npm-client/docs/endpoints/queries/account_query.md
  npm-client/docs/endpoints/trade_query.md
  npm-client/docs/types/account_query.md
  npm-client/generate_docs.sh
  npm-client/src/cancel_order_instruction.ts
  npm-client/src/market_commission_payment_queues.ts
  npm-client/src/market_liquidities.ts
  npm-client/src/market_matching_pool_query.ts
  npm-client/src/market_matching_pools.ts
  npm-client/src/market_matching_queues.ts
  npm-client/src/market_order_request_queues.ts
  npm-client/src/market_outcome_query.ts
  npm-client/src/market_position_query.ts
  npm-client/src/market_prices.ts
  npm-client/src/market_query.ts
  npm-client/src/order.ts
  npm-client/src/order_query.ts
  npm-client/src/product_query.ts
  npm-client/src/queries/account_query.ts
  npm-client/src/queries/filtering.ts
  npm-client/src/trade_query.ts
  npm-client/tsconfig.json
  npm-client/types/account_query.ts
  tests/npm-client/market_matching_pool_query.ts
  tests/npm-client/market_outcome.ts
  tests/npm-client/market_position_query.ts
  tests/npm-client/market_query.ts
  tests/npm-client/multiple_order_query.ts
  tests/npm-client/order_query.ts
  tests/npm-client/product_query.ts
  tests/npm-client/trade_query.ts
Due: generate-client-docs

updating dates
  README.md
Due: none

chore: audit reports (#248)
  README.md
  audit/sec3/0.15.1.pdf
  audit/sec3/0.15.2.pdf
  audit/sec3/0.15.3.pdf
  audit/sec3/0.15.4.pdf
  audit/sec3/0.15.5.pdf
Due: none
