Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

chore: add some tests
  tests/npm-client/market_matching_pool_query.ts
Due: none

fix: allow non-contiguous filters/data in quries
  npm-client/src/queries.ts
  tests/npm-client/market_matching_pool_query.ts
  tests/npm-client/orders.ts
Due: generate-client-docs

fix: client updates and fixes for inplay release (#55)
  admin/client.ts
  admin/update_market_status.ts
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/types/markets.ts
  npm-client/docs/types/market.md
  npm-client/src/market_matching_pool_query.ts
  npm-client/src/market_query.ts
  npm-client/types/market.ts
  package.json
Due: generate-admin-client-docs, generate-client-docs

fix: explicitly initialize market.inplay during creation
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

fix: allow transfer surplus for voided markets
  programs/monaco_protocol/src/instructions/market/escrow.rs
Due: none

fix: be more context aware when initializing, and fix tests
  programs/monaco_protocol/src/instructions/market/create_market.rs
  tests/protocol/cancel_order.ts
  tests/protocol/crank_matching.ts
  tests/protocol/create_order.ts
  tests/protocol/move_market_matching_pool_to_inplay.ts
Due: none

fix: be more concise
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

fix: allow transfer surplus for voided markets (#58)
  programs/monaco_protocol/src/instructions/market/escrow.rs
Due: none

fix: explicitly initialize market.inplay during creation (#57)
  programs/monaco_protocol/src/instructions/market/create_market.rs
  tests/protocol/cancel_order.ts
  tests/protocol/crank_matching.ts
  tests/protocol/create_order.ts
  tests/protocol/move_market_matching_pool_to_inplay.ts
Due: none

fix: check event start is in the past when moving to inplay
  programs/monaco_protocol/src/lib.rs
Due: none

we don't filter markets by market type
  programs/monaco_protocol/src/state/market_account.rs
Due: none

fix: clients don't filter markets by market type (#60)
  programs/monaco_protocol/src/state/market_account.rs
Due: none

fix: check event start is in the past when moving to inplay (#59)
  programs/monaco_protocol/src/lib.rs
Due: none

chore: bump version to 0.9.0-rc3 with audit fixes
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: bump version to 0.9.0-rc3 with audit fixes (#61)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

test: updates tests from main
  tests/end-to-end/inplay_market.ts
  tests/protocol/close_market_voided.ts
Due: none

fix(client): add missing payer field to MarketPosition account type
  npm-client/docs/types/market_position.md
  npm-client/types/market_position.ts
Due: generate-client-docs

feat: admin client update market event start time endpoints
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  tests/npm-admin-client/market_management.ts
Due: generate-admin-client-docs

chore: Time
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  tests/npm-admin-client/market_management.ts
Due: generate-admin-client-docs

fix(client): correct name type of market.inplayOrderDelay
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-client-docs

chore: release version 0.9.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

fix: don't subtract liquidity on cancel if its not been added yet
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/protocol/cancel_order.ts
Due: none

fix: add another test showing liquidity doesn't change
  jest.config.js
  tests/protocol/cancel_order.ts
Due: none

fix: copy paste error
  tests/protocol/cancel_order.ts
Due: none

fix: accidental commit
  jest.config.js
Due: none

fix(client): add missing payer field to MarketPosition account type (#62)
  npm-client/docs/types/market_position.md
  npm-client/types/market_position.ts
Due: generate-client-docs

fix(client): correct name type of market.inplayOrderDelay (#63)
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-client-docs

fix: don't subtract liquidity when cancelling if it has not been added to the total yet
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/state/market_account.rs
  tests/protocol/cancel_order.ts
Due: none

chore: bump version to 0.9.0-rc4 with audit fixes
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: bump version to 0.9.0-rc4 with audit fixes (#66)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: release version 0.9.0 (#64)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

fix(client): client@6.0.0 was lost - republishing as 7.0.0
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-client-docs

fix(client): client@6.0.0 was lost - republishing as 7.0.0 (#67)
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-client-docs

chore: Upload 0.9.0 audit report and update README.md
  README.md
  audit/sec3/0.9.0.pdf
Due: none

fix: update client versions
  README.md
Due: none

fix: typo
  README.md
Due: none

chore: Upload 0.9.0 audit report and update README.md (#68)
  README.md
  audit/sec3/0.9.0.pdf
Due: none

refactor: just cleaning up some formatting
  programs/monaco_protocol/src/state/order_account.rs
Due: none

refactor: single level vec for commissions, only update on match (#196)
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/state/market_position_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/protocol/product_commission_matching.ts
Due: none

fix: initialize vec manually (#198)
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/state/market_position_account.rs
Due: none
