Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

single way to validate the price
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/price_ladder/add_prices_to_price_ladder.rs
Due: none

single way to validate the price
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
Due: none

not really useful
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/src/market_create.ts
Due: generate-admin-client-docs

not really useful
  npm-client/package-lock.json
Due: generate-client-docs

client version that make more sense
  npm-admin-client/package.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

client version that make more sense
  npm-admin-client/package-lock.json
  npm-client/package-lock.json
Due: generate-admin-client-docs, generate-client-docs

using deref instead of clone
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
Due: none

fix: validating the price precision if price ladder is empty (#199)
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/price_ladder/add_prices_to_price_ladder.rs
Due: none

chore: drop -dev from versions for 0.14.0 release
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: drop -dev from versions for 0.14.0 release (#200)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: bump dev versions for 0.15.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: bump dev versions for 0.15.0 (#201)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: setting versions
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

expire_on
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/dequeue_order_request.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
Due: none

expire_on
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/docs/types/order.md
  npm-client/src/create_order.ts
  npm-client/src/create_order_instruction.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/orderRequest/createOrderRequest.ts
  tests/orderRequest/processOrderRequest.ts
  tests/util/wrappers.ts
Due: generate-client-docs

expire_on
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/src/create_order.ts
  npm-client/src/create_order_instruction.ts
Due: generate-client-docs

expire_on
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/src/create_order_instruction.ts
Due: generate-client-docs

expire_on
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/orderRequest/createOrderRequest.ts
Due: none

feat: order request expiry (#5)
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/docs/types/order.md
  npm-client/src/create_order.ts
  npm-client/src/create_order_instruction.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/dequeue_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/orderRequest/createOrderRequest.ts
  tests/orderRequest/processOrderRequest.ts
  tests/util/wrappers.ts
Due: generate-client-docs

feat: order request expiry (#204)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/docs/endpoints/create_order_instruction.md
  npm-client/docs/types/order.md
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/create_order.ts
  npm-client/src/create_order_instruction.ts
  npm-client/types/order.ts
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_position/update_on_order_match.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/instructions/order/cancel_order_post_market_lock.rs
  programs/monaco_protocol/src/instructions/order/cancel_preplay_order_post_event_start.rs
  programs/monaco_protocol/src/instructions/order_request/create_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/dequeue_order_request.rs
  programs/monaco_protocol/src/instructions/order_request/process_order_request.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_order_request_queue.rs
  tests/orderRequest/createOrderRequest.ts
  tests/orderRequest/processOrderRequest.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs, generate-client-docs

chore: upload audit report for release 0.14.0
  audit/sec3/0.14.0.pdf
Due: none

chore: upload audit report for release 0.14.0 (#206)
  audit/sec3/0.14.0.pdf
Due: none

final versions
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: updating version numbers for final release (#207)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

admin market close
  admin/close_market.ts
Due: none

admin market close
  admin/client.ts
  admin/close_market.ts
  admin/util.ts
  package.json
Due: none

upload audit reports and update readme for release 0.14.1
  README.md
  audit/sec3/0.14.1.pdf
Due: none

upload audit reports and update readme for release 0.14.1
  README.md
Due: none

chore: upload audit reports and update readme for release 0.14.1 (#208)
  README.md
  audit/sec3/0.14.1.pdf
Due: none

trimming it down
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
  tests/protocol/process_order_match.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: none

updating market outcome sums
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
  tests/orderRequest/processOrderRequest.ts
  tests/protocol/process_order_match.ts
  tests/util/wrappers.ts
Due: none

prepare the way
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/matching_pool.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
  tests/protocol/crank_matching.ts
Due: none

matched_total update abandoned
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/matching/on_order_match.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_outcome_account.rs
  tests/protocol/process_order_match.ts
  tests/util/wrappers.ts
Due: none

sorting out error names
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none

stake_matched_total
  programs/monaco_protocol/src/instructions/matching/on_order_creation.rs
  programs/monaco_protocol/src/state/market_liquidities.rs
Due: none
