Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: clippy
        args: ["--", "-D", "warnings", "-A", "clippy::result_large_err"]
-   repo: local
    hooks:
    -   id: generate-admin-client-docs
        name: generate-admin-client-docs
        entry: npm-admin-client/generate_docs.sh
        language: script
        files: ^npm-admin-client/
        pass_filenames: true
    -   id: generate-client-docs
        name: generate-client-docs
        entry: npm-client/generate_docs.sh
        language: script
        files: ^npm-client/
        pass_filenames: true

dont need to box this
  programs/monaco_protocol/src/context.rs
Due: none

check accounts are closed
  tests/protocol/close_market.ts
Due: none

Fix: close market escrow as part of `close_market` (#24)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/instructions/market/mod.rs
  programs/monaco_protocol/src/lib.rs
  tests/protocol/close_market.ts
Due: none

Update versions to rc4
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: Update versions to rc4 for audit (#25)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: release version 0.6.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: release version 0.6.0 (#26)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

fix: marketSettleTimestamp type
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

feat: market validation endpoints
  npm-admin-client/docs/endpoints/market_validate.md
  npm-admin-client/docs/endpoints/npm-client-duplicates.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/docs/types/npm-client-duplicates.md
  npm-admin-client/generate_docs.sh
  npm-admin-client/src/index.ts
  npm-admin-client/src/market_validate.ts
  npm-admin-client/src/npm-client-duplicates.ts
  npm-admin-client/types/index.ts
  npm-admin-client/types/markets.ts
  npm-admin-client/types/npm-client-duplicates.ts
  tests/npm-admin-client/market_validate.ts
Due: generate-admin-client-docs

chore: updating readme and audit docs for 0.6.0 release
  README.md
  audit/sec3/0.5.0.pdf
Due: none

Add section with link to SDK
  README.md
Due: none

Add 0.6.0 sec3 audit doc
  audit/sec3/0.6.0.pdf
Due: none

Add bleeding edge devnet program address
  README.md
Due: none

chore: rename modules
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/generate_docs.sh
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/types/market_outcomes.ts
Due: generate-admin-client-docs

fix: client - errors should be passed rather than a response object
  npm-admin-client/src/market_create.ts
Due: generate-admin-client-docs

chore: rename modules - correctly
  npm-admin-client/src/index.ts
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_validate.ts
  npm-admin-client/types/index.ts
Due: generate-admin-client-docs

Update release date to deployment date for 0.6.0
  README.md
Due: none

chore: remove old docs
  npm-admin-client/docs/endpoints/npm-client-duplicates.md
  npm-admin-client/docs/types/npm-client-duplicates.md
Due: generate-admin-client-docs

chore: fix c&p issue
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_helpers.ts
Due: generate-admin-client-docs

market status
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/endpoints/market_query.md
  npm-client/src/market_query.ts
  npm-client/types/market.ts
  tests/npm-client/market_query.ts
Due: generate-admin-client-docs, generate-client-docs

order status
  admin/leaderboard/market_leaderboard.ts
  npm-client/docs/endpoints/cancel_order.md
  npm-client/docs/endpoints/order_query.md
  npm-client/docs/types/order.md
  npm-client/src/cancel_order.ts
  npm-client/src/order.ts
  npm-client/src/order_query.ts
  npm-client/types/order.ts
  tests/npm-client/my_orders.ts
  tests/npm-client/order_query.ts
Due: generate-client-docs

few things that needed tidied up
  admin/leaderboard/market_leaderboard.ts
  admin/leaderboard/util.ts
  tests/npm-admin-client/market_management.ts
Due: none

readonly
  npm-client/types/order.ts
Due: generate-client-docs

interface
  npm-client/docs/types/order.md
  npm-client/types/order.ts
Due: generate-client-docs

chore: update readme and audit docs for 0.6.0 release (#27)
  README.md
  audit/sec3/0.5.0.pdf
  audit/sec3/0.6.0.pdf
Due: none

Gabriele's examples
  tests/order/settlement_payment_5.ts
Due: none

test updates after main merge
  tests/protocol/close_market.ts
  tests/protocol/close_market_matching_pool.ts
  tests/protocol/close_market_position.ts
  tests/protocol/close_order.ts
  tests/protocol/close_trade.ts
Due: none

fix: prending Order type on client
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-client-docs

DEVNET_STABLE should be the same
  npm-client/types/protocol.ts
Due: generate-client-docs

fix: Accurately convert floating point stake to integer (BN) chore: release client version 3.0.1
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/utils.ts
  tests/npm-client/stake.ts
Due: generate-client-docs

fix: Accurately convert floating point stake to integer (BN) (#36)
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/utils.ts
  tests/npm-client/stake.ts
Due: generate-client-docs

fix!: client type wrappers for enums that anchor returns (#33)
  admin/leaderboard/market_leaderboard.ts
  admin/leaderboard/util.ts
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/endpoints/cancel_order.md
  npm-client/docs/endpoints/market_query.md
  npm-client/docs/endpoints/order_query.md
  npm-client/src/cancel_order.ts
  npm-client/src/market_query.ts
  npm-client/src/order.ts
  npm-client/src/order_query.ts
  npm-client/types/market.ts
  npm-client/types/order.ts
  tests/npm-admin-client/market_management.ts
  tests/npm-client/market_query.ts
  tests/npm-client/my_orders.ts
  tests/npm-client/order_query.ts
Due: generate-admin-client-docs, generate-client-docs

fix: pending Order type on client (#32)
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-client-docs

fix: marketSettleTimestamp type (#29)
  npm-admin-client/docs/types/markets.md
  npm-admin-client/types/markets.ts
  npm-client/docs/types/market.md
  npm-client/types/market.ts
Due: generate-admin-client-docs, generate-client-docs

fix: client - errors should be passed rather than a response object (#28)
  npm-admin-client/src/market_create.ts
Due: generate-admin-client-docs

chore: client version 4.0.0
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-client-docs

chore: admin client version 2.0.1
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
Due: generate-admin-client-docs

chore: client version 4.0.0 and admin client version 2.0.1 (#37)
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
Due: generate-admin-client-docs, generate-client-docs

fix: unblock settlement where market escrow has been transferred to
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/update_market_status.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

fix: unblock settlement where market escrow has been transferred to (#38)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-admin-client/src/market_management.ts
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/update_market_status.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs
