Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

generate-admin-client-docs:
  name: generate-admin-client-docs
  entry: npm-admin-client/generate_docs.sh
  language: script
  pass_filenames: true

generate-client-docs:
  name: generate-client-docs
  entry: npm-client/generate_docs.sh
  language: script
  pass_filenames: true

Backwards compatible `create_order` (#84)
  npm-client/src/create_order.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  tests/protocol/create_order.ts
  tests/util/test_util.ts
Due: generate-client-docs

Bump anchor 0.27.0 (#93)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  package.json
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/state/market_position_account.rs
  tests/npm-client/stake.ts
  yarn.lock
Due: generate-admin-client-docs, generate-client-docs

chore: release version 0.7.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs

chore: release version 0.7.0 (#39)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs

chore: Upload 0.7.0 audit report and update README.md
  README.md
  audit/sec3/0.7.0.pdf
Due: none

chore: Upload 0.7.0 audit report and update README.md (#40)
  README.md
  audit/sec3/0.7.0.pdf
Due: none

Add transferMarketEscrowSurplus to admin-client
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

Add client test for transferMarketEscrowSurplus
  tests/npm-admin-client/market_management.ts
  tests/util/wrappers.ts
Due: none

fix: import
  npm-admin-client/src/market_management.ts
Due: generate-admin-client-docs

feat: Add transferMarketEscrowSurplus to admin-client (#41)
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/src/market_management.ts
  tests/npm-admin-client/market_management.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

feat/admin client market validation (#30)
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/docs/endpoints/market_validate.md
  npm-admin-client/docs/types/market_outcomes.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/generate_docs.sh
  npm-admin-client/src/index.ts
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_validate.ts
  npm-admin-client/src/npm-client-duplicates.ts
  npm-admin-client/types/index.ts
  npm-admin-client/types/market_outcomes.ts
  npm-admin-client/types/markets.ts
  tests/npm-admin-client/market_validate.ts
Due: generate-admin-client-docs

chore: Use updated version of product program (#107)
  Anchor.toml
  Cargo.lock
  README.md
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_validate.ts
  npm-admin-client/types/market_outcomes.ts
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/instructions/math.rs
  tests/anchor/protocol_product/protocol_product.json
  tests/anchor/protocol_product/protocol_product.so
  tests/anchor/protocol_product/protocol_product.ts
  tests/npm-admin-client/market_validate.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

fix: improve decimals check and close off edge cases
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

feat: allow program address override for admin scripts
  admin/util.ts
Due: none

fix: improve decimals check and close off edge cases (#42)
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

feat: allow program address override for admin scripts (#43)
  admin/util.ts
Due: none

Only log if a transfer happens (#117)
  programs/monaco_protocol/src/instructions/transfer.rs
Due: none

chore: update versions to RC for 0.8.0 audit
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: update versions to RC for 0.8.0 audit (#45)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: use audited release of product program (v0.1.0)
  Cargo.lock
  programs/monaco_protocol/Cargo.toml
Due: none

chore: bump versions to rc2
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: use audited version of product program and bump to rc2 (#46)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: release version 0.8.0
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: release version 0.8.0 (#47)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: Upload 0.8.0 audit report and update README.md
  README.md
  audit/sec3/0.8.0.pdf
Due: none

chore: Upload 0.8.0 audit report and update README.md (#48)
  README.md
  audit/sec3/0.8.0.pdf
Due: none

feature: add product fee payments queue
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/state/mod.rs
  programs/monaco_protocol/src/state/payments_queue.rs
  tests/market/create_market.ts
  tests/protocol/close_market.ts
  tests/protocol/crank_settlement.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

add batch functions
  npm-client/src/cancel_order_batch.ts
  npm-client/src/create_order_batch.ts
  npm-client/src/index.ts
  npm-client/types/order.ts
Due: generate-client-docs

better error handling
  npm-client/src/cancel_order_batch.ts
  npm-client/src/create_order_batch.ts
  npm-client/types/order.ts
Due: generate-client-docs

[MP-75] Store product commission details on matching (#123)
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/order/match_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/state/market_position_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/npm-client/create_order.ts
  tests/protocol/create_order.ts
  tests/protocol/product_fees.ts
  tests/util/wrappers.ts
Due: none

[MP-39] Calculate product and protocol commission (#131)
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  tests/protocol/product_fees.ts
Due: none

[MP-86] Process payment ix (#132)
  npm-admin-client/docs/endpoints/market_helpers.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_helpers.ts
  npm-admin-client/types/markets.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/instructions/payment.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/create_market.ts
  tests/protocol/crank_settlement.ts
  tests/protocol/product_commission_matching.ts
  tests/protocol/product_commission_settlement.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

Product fees cleanup (#136)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  tests/protocol/crank_settlement.ts
  tests/util/wrappers.ts
Due: none

feat: void market
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/instructions/market_position/mod.rs
  programs/monaco_protocol/src/instructions/market_position/void_market_position.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_account.rs
Due: none

feat: adding tests
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  tests/protocol/void_market_position.ts
  tests/util/wrappers.ts
Due: none

feat: adding tests
  tests/order/void_payment_01.ts
  tests/protocol/void_market_position.ts
Due: none

feat: more tests
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  tests/protocol/close_market_settlement.ts
  tests/protocol/close_market_voided.ts
Due: none

feat: allowing initializing markets to be voided
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
Due: none

Path conditions:
  generate-admin-client-docs: any of: ^npm-admin-client/
  generate-client-docs: any of: ^npm-client/
