Repository MonacoProtocol/protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-admin-client-docs, generate-client-docs

generate-admin-client-docs:
  name: generate-admin-client-docs
  entry: npm-admin-client/generate_docs.sh
  language: script
  pass_filenames: true

generate-client-docs:
  name: generate-client-docs
  entry: npm-client/generate_docs.sh
  language: script
  pass_filenames: true

Run npm install before building the clients
  package.json
Due: none

chore: align npm client code with released code
  npm-client/docs/endpoints/market_prices.md
  npm-client/docs/endpoints/order.md
  npm-client/docs/types/market.md
  npm-client/docs/types/order.md
  npm-client/docs/types/protocol.md
  npm-client/src/market_outcome_query.ts
  npm-client/src/market_prices.ts
  npm-client/src/market_query.ts
  npm-client/src/order.ts
  npm-client/src/order_query.ts
  npm-client/src/queries.ts
  npm-client/src/trade_query.ts
  npm-client/types/market.ts
  npm-client/types/order.ts
  npm-client/types/protocol.ts
Due: generate-client-docs

chore: align npm client code with released code
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/docs/endpoints/utils.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/package.json
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-admin-client/src/npm-client-duplicates.ts
  npm-admin-client/src/utils.ts
  npm-admin-client/types/markets.ts
Due: generate-admin-client-docs

chore: align npm client code with released code
  tests/npm-admin-client/market_management.ts
  tests/npm-client/market_prices.ts
  tests/npm-client/order_query.ts
  tests/npm-client/orders.ts
Due: none

Check operator against market authority for market up date ixs
  admin/add_prices_to_ladder.ts
  npm-admin-client/src/market_outcome_prices.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/market_authority.rs
  programs/monaco_protocol/src/instructions/market/mod.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/create_market.ts
  tests/npm-admin-client/market_create.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

Some format string updates flagged by clippy
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/product.rs
Due: none

fix: remove assert for completed markets when querying open markets as other tests pollute results
  tests/npm-client/market_query.ts
Due: none

Remove now redundant assertion
  tests/npm-admin-client/market_create.ts
Due: none

Remove new constraint as covered by account initialization checks
  programs/monaco_protocol/src/context.rs
  tests/npm-admin-client/market_create.ts
Due: none

fix: align client code (#12)
  npm-admin-client/docs/endpoints/market_create.md
  npm-admin-client/docs/endpoints/market_management.md
  npm-admin-client/docs/endpoints/utils.md
  npm-admin-client/docs/types/markets.md
  npm-admin-client/package.json
  npm-admin-client/src/market_create.ts
  npm-admin-client/src/market_management.ts
  npm-admin-client/src/market_outcome.ts
  npm-admin-client/src/market_outcome_prices.ts
  npm-admin-client/src/npm-client-duplicates.ts
  npm-admin-client/src/utils.ts
  npm-admin-client/types/markets.ts
  npm-client/docs/endpoints/market_prices.md
  npm-client/docs/endpoints/order.md
  npm-client/docs/types/market.md
  npm-client/docs/types/order.md
  npm-client/docs/types/protocol.md
  npm-client/src/market_outcome_query.ts
  npm-client/src/market_prices.ts
  npm-client/src/market_query.ts
  npm-client/src/order.ts
  npm-client/src/order_query.ts
  npm-client/src/queries.ts
  npm-client/src/trade_query.ts
  npm-client/types/market.ts
  npm-client/types/order.ts
  npm-client/types/protocol.ts
  tests/npm-admin-client/market_management.ts
  tests/npm-client/market_prices.ts
  tests/npm-client/market_query.ts
  tests/npm-client/order_query.ts
  tests/npm-client/orders.ts
Due: generate-admin-client-docs, generate-client-docs

fix: restrict market updates to market authority (#13)
  .pre-commit-config.yaml
  admin/add_prices_to_ladder.ts
  npm-admin-client/src/market_outcome_prices.ts
  package.json
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/instructions/market/market_authority.rs
  programs/monaco_protocol/src/instructions/market/mod.rs
  programs/monaco_protocol/src/instructions/product.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/create_market.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

refactor: return seeds along with matching pools
  npm-client/docs/endpoints/market_matching_pools.md
  npm-client/docs/types/market.md
  npm-client/src/market_matching_pools.ts
  npm-client/types/market.ts
  tests/npm-client/market_matching_pool.ts
Due: generate-client-docs

refactor: return seeds along with matching pools (#14)
  npm-client/docs/endpoints/market_matching_pools.md
  npm-client/docs/types/market.md
  npm-client/src/market_matching_pools.ts
  npm-client/types/market.ts
  tests/npm-client/market_matching_pool.ts
Due: generate-client-docs

format the json log a bit
  admin/util.ts
Due: none

Reduce add scores batch size, add open/ready to close market scripts
  admin/client.ts
  admin/create_market.ts
  admin/update_market_status.ts
  admin/util.ts
  package.json
Due: none

fix: Reduce add scores batch size, add open/ready to close market admin scripts (#15)
  admin/client.ts
  admin/create_market.ts
  admin/update_market_status.ts
  admin/util.ts
  package.json
Due: none

Update versions to RC for 0.6.0 audit
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: Update versions to RC ahead of 0.6.0 audit (#17)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

Remove Multisig from protocol (#52)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/mod.rs
  programs/monaco_protocol/src/instructions/multisig.rs
  programs/monaco_protocol/src/instructions/product.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/mod.rs
  programs/monaco_protocol/src/state/multisig.rs
  programs/monaco_protocol/src/state/product.rs
  tests/multisig/multisig_group.ts
  tests/multisig/multisig_transaction_create.ts
  tests/multisig/multisig_transaction_execute.ts
  tests/product/product_config_create.ts
  tests/product/product_config_update.ts
  tests/util/pdas.ts
  tests/util/wrappers.ts
Due: none

Feature/product code updates (#57)
  npm-client/docs/endpoints/product_config.md
  npm-client/docs/endpoints/utils.md
  npm-client/docs/types/product_config.md
  npm-client/generate_docs.sh
  npm-client/src/product_config.ts
  npm-client/src/utils.ts
  npm-client/types/product_config.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/product.rs
  programs/monaco_protocol/src/lib.rs
  tests/npm-client/product_config.ts
  tests/product/product_config_update.ts
Due: generate-client-docs

Don't initialise outcomes with prices, only allow adding afterwards
  npm-admin-client/src/market_outcome.ts
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/initialize_market_outcome.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

Generate market outcome endpoint docs properly
  npm-admin-client/docs/endpoints/market_outcome.md
  npm-admin-client/docs/endpoints/market_outcomes.md
  npm-admin-client/generate_docs.sh
Due: generate-admin-client-docs

Update price precision checking to be more correct
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

fix: Don't initialise outcomes with prices
  npm-admin-client/docs/endpoints/market_outcome.md
  npm-admin-client/docs/endpoints/market_outcomes.md
  npm-admin-client/generate_docs.sh
  npm-admin-client/src/market_outcome.ts
  programs/monaco_protocol/src/instructions/market/create_market.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/initialize_market_outcome.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-admin-client-docs

fix: Update price precision checking to be more correct (#19)
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

Update versions to rc2 for audit
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

chore: Update versions to rc2 for audit (#20)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

[Feature] Protocol Commission (#4)
  npm-client/docs/endpoints/create_order.md
  npm-client/docs/types/market_position.md
  npm-client/docs/types/order.md
  npm-client/package-lock.json
  npm-client/package.json
  npm-client/src/create_order.ts
  npm-client/src/market_position_query.ts
  npm-client/types/market_position.ts
  npm-client/types/order.ts
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market_position/create_market_position.rs
  programs/monaco_protocol/src/instructions/market_position/mod.rs
  programs/monaco_protocol/src/instructions/market_position/settle_market_position.rs
  programs/monaco_protocol/src/instructions/math.rs
  programs/monaco_protocol/src/instructions/order/create_order.rs
  programs/monaco_protocol/src/instructions/order/match_order.rs
  programs/monaco_protocol/src/instructions/order/settle_order.rs
  programs/monaco_protocol/src/instructions/transfer.rs
  programs/monaco_protocol/src/lib.rs
  programs/monaco_protocol/src/state/market_position_account.rs
  programs/monaco_protocol/src/state/order_account.rs
  tests/npm-client/market_position_query.ts
  tests/order/settlement_payment_1.ts
  tests/order/settlement_payment_10.ts
  tests/order/settlement_payment_11.ts
  tests/order/settlement_payment_2.ts
  tests/order/settlement_payment_3.ts
  tests/order/settlement_payment_4.ts
  tests/order/wholesale_payment_01.ts
  tests/order/wholesale_payment_02.ts
  tests/order/wholesale_payment_03.ts
  tests/order/wholesale_payment_04.ts
  tests/protocol/crank_settlement.ts
  tests/protocol/create_order.ts
  tests/protocol/settle_bet_order.ts
  tests/setup.ts
  tests/util/test_util.ts
  tests/util/wrappers.ts
Due: generate-client-docs

remove offset (#62)
  npm-client/docs/types/market_position.md
  npm-client/types/market_position.ts
  programs/monaco_protocol/src/instructions/matching/matching_one_to_one.rs
  programs/monaco_protocol/src/state/market_position_account.rs
  tests/order/cancelation_payment_10.ts
  tests/order/cancelation_payment_11.ts
  tests/order/creation_payment_1.ts
  tests/order/creation_payment_2.ts
  tests/order/creation_payment_3.ts
  tests/order/matching_refunds_1.ts
  tests/order/settlement_payment_1.ts
  tests/order/settlement_payment_10.ts
  tests/order/settlement_payment_11.ts
  tests/order/settlement_payment_2.ts
  tests/order/settlement_payment_3.ts
  tests/order/settlement_payment_4.ts
  tests/order/wholesale_payment_01.ts
  tests/order/wholesale_payment_02.ts
  tests/order/wholesale_payment_03.ts
  tests/order/wholesale_payment_04.ts
  tests/protocol/cancel_order.ts
  tests/protocol/crank_matching.ts
  tests/protocol/settle_bet_order.ts
  tests/util/wrappers.ts
Due: generate-client-docs

fix: validate new market prices are within range
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

fix: Additional checks for closing orders/settling markets
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/update_market_status.ts
  tests/util/wrappers.ts
Due: none

test: add test to verify non-zero escrow check
  tests/market/update_market_status.ts
Due: none

formatting/indenting marcro parameters
  programs/monaco_protocol/src/context.rs
Due: none

Update versions to rc3
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

fix: Additional checks for closing orders/settling markets (#21)
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/update_market_status.rs
  programs/monaco_protocol/src/lib.rs
  tests/market/update_market_status.ts
  tests/util/wrappers.ts
Due: none

fix: validate new market prices are within range (#22)
  programs/monaco_protocol/src/error.rs
  programs/monaco_protocol/src/instructions/market/create_market.rs
Due: none

Update versions to rc3 (#23)
  Cargo.lock
  npm-admin-client/package-lock.json
  npm-admin-client/package.json
  npm-client/package-lock.json
  npm-client/package.json
  programs/monaco_protocol/Cargo.toml
Due: generate-admin-client-docs, generate-client-docs

Update client anchor 0.26.0 integrity in package-lock (#69)
  npm-client/package-lock.json
Due: generate-client-docs

close market escrow as part of close_market
  programs/monaco_protocol/src/context.rs
  programs/monaco_protocol/src/instructions/market/escrow.rs
  programs/monaco_protocol/src/instructions/market/mod.rs
  programs/monaco_protocol/src/lib.rs
  tests/protocol/close_market.ts
Due: none

Path conditions:
  generate-admin-client-docs: any of: ^npm-admin-client/
  generate-client-docs: any of: ^npm-client/
